<div class="sidebar-container d-flex flex-column h-100">

    <!-- TOP -->
    <div>

        <!-- Logo -->
        <div class="logo-section">

            <img src="assets/Logo_SATORI.png" alt="Satori" class="logo-image">

        </div>

        <!-- Avatar -->
        <div class="profile-section">

            <div class="avatar-wrapper">

                <img src="assets/Avatar.png" alt="Admin" class="profile-avatar">

            </div>

            <h5 class="profile-name">
                Panel Administrativo
            </h5>

            <p class="profile-role">
                Gestión SATORI
            </p>

        </div>

        <!-- NAV -->
        <ul class="nav flex-column sidebar-nav">

            <!-- Inicio -->

            <li class="nav-item">

                <a routerLink="/inicio" routerLinkActive="active"
                    class="nav-link text-white d-flex align-items-center gap-2">

                    <i class="bi bi-house-door-fill"></i>

                    <span>Inicio</span>

                </a>

            </li>

            <!-- Usuarios -->
            <li class="nav-item">

                <a routerLink="/usuarios" routerLinkActive="active" class="nav-link">

                    <i class="bi bi-people-fill"></i>

                    <span>Usuarios</span>

                </a>

            </li>

            <!-- Ejercicios -->
            @if (isAdmin()) {

            <li class="nav-item">

                <a routerLink="/ejercicios" routerLinkActive="active" class="nav-link">

                    <i class="bi bi-person-arms-up"></i>

                    <span>Ejercicios</span>

                </a>

            </li>

            }

            <!-- Plan -->
            <li class="nav-item">

                <a [routerLink]="isAdmin() ? '/planes' : '/mi-plan'" routerLinkActive="active" class="nav-link">

                    <i class="bi bi-card-checklist"></i>

                    <span>
                        {{ isAdmin() ? 'Planes' : 'Mi Plan' }}
                    </span>

                </a>

            </li>

            <!-- Suscripciones -->
            <li class="nav-item">

                <a routerLink="/suscripciones" routerLinkActive="active" class="nav-link">

                    <i class="bi bi-clipboard-check-fill"></i>

                    <span>Suscripciones</span>

                </a>

            </li>

        </ul>

    </div>

    <!-- BOTTOM -->
    <div class="logout-section">

        <button class="logout-button" (click)="logout()">

            <i class="bi bi-power"></i>

            <span>Salir</span>

        </button>

    </div>

</div>