<div class="notfound-container">

    <!-- DECORATION -->
    <div class="red-line red-line-1"></div>
    <div class="red-line red-line-2"></div>

    <!-- CARD -->
    <div class="notfound-card">

        <!-- ICON -->
        <div class="notfound-icon">

            <i class="bi bi-exclamation-triangle-fill"></i>

        </div>

        <!-- CODE -->
        <h1>404</h1>

        <!-- TITLE -->
        <h2>Página no encontrada</h2>

        <!-- TEXT -->
        <p>
            La página que intentas visitar no existe
            o aún se encuentra en construcción.
        </p>

        <!-- BUTTON -->
        <a routerLink="/inicio" class="btn btn-danger notfound-button">

            Volver al inicio

        </a>

    </div>

</div>